<div class="d-flex align-items-center">
  <h2 class="mr-auto">All Games</h2>
  <button type="button" class="btn btn-primary launch-modal" data-toggle="modal" data-target="#createGameModal">
    Create Game
  </button>
</div>
{{#each games as |game|}}
  <section data-id="{{game.id}}">
    <h3>
      {{game.title}}
    </h3>
    <p>
      Players: {{game.min_players}} to {{game.max_players}} players
    </p>
    <p>
      Play time: {{game.time_in_minutes}} minutes
    </p>
    <p>
      Description: {{game.description}}
    </p>
    <button data-id="{{game.id}}" class="btn btn-success add-to-shelf">Add to Your Shelf</button>
  </section>

{{/each}}
